* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
.mw-19 {
  max-width: 15%;
}

/* Product Page */
.right h2 {
  font-size: 1.8rem;
}
.right h3 {
  font-size: 1.2rem;
  color: #808080;
}
.product-des {
  line-height: 1.7;
}
.alternate-img img:hover {
  outline: 1px solid black;
}

.right p {
  font-weight: 500;
  font-size: 1rem;
}

.product-item:hover {
  box-shadow: 0px 20px 26px 9px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

/* navbar  */
.navbar {
  z-index: 999;
}

.navbar-toggler{
  border: none;
}
.navbar-toggler:focus{
  box-shadow: none;
}

.navbar :nth-child(2){
  order :3;
}

@media (max-width: 992px) {
  .navbar :nth-child(2){
    order : 0;
  }
}

.add-to-cart-btn{
  border-radius: 30px;
  background-color: #000;
  color: #ffffff;
  transition: all 0s ease-in;
}

.add-to-cart-btn:hover, .add-to-cart-btn:active {
  background-color: #707072 !important;
}
.wishlist-btn{
  border-radius: 30px;
  background-color: #fff;
  color: #000;
  border : 1px solid #CACACB;
}
.wishlist-btn:hover {
  border: 1px solid #000000;
  background-color: white !important;
  color: #000;
}
.scroll-container{
  position: relative;
  overflow-x: scroll;
  padding: 1rem .6rem;
  scroll-behavior: smooth;
}
.row-item {
  transition: all .15s ease-in-out;
}
.btns button {
  background-color:#373737;
  border: none;
  /* padding: 1rem; */
  transition: all .1s ease-in;
}
.btns button:hover {
  background-color: #000;
}
.btns button svg {
  color : white;
}
.featured{
  cursor: pointer;
}
.hero-container{
  padding-top: 130px;
}
.lil-overlay {
  transition: all .3s ease-in;
}
.lil-overlay:hover {
  background-color: rgba(0,0,0,0.5)!important;
}
.main-title {
  position: absolute;
  left: 20px;
  bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}