*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color : #000;
}
.mw-19{
    max-width: 15%;
}



/* Product Page */
.right h2 {
    font-size: 1.8rem ;
}
.right h3 {
    font-size: 1.2rem ;
    color : #808080;
}
.product-des {
    line-height: 1.7 ;
}
.alternate-img img:hover {
    outline: 1px solid black;
}

.right p {
    font-weight: 500;
    font-size: 1rem;
}